h1= title
a(href='/', title='Main page') Back to Main Page
p Use the slider to choose your OLIVE color


div#main
  div#content-slider
    br
  div#color_box
    div#hue_val
    div#lum_val
    div#hex_val
  input(id="submit_button"
        type="submit" 
        value="Change Site Color") 