!!! 5
html
  head
    title= title
    style(type='text/css')= g_color
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery-ui-1.8.14.custom.min.js')
    
  body!= body
    script(type='text/javascript', src='/javascripts/sliderstuff.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script
      var socket = io.connect();
      socket.on('color_change', function (data) {
        console.log(data);
        $("body").css("background-color","#"+data.color);
        //socket.emit('set_color', {change_color: 'ADFF2F' });
      });
      socket.on('update_color', function (data) {
        console.log(data);
        $("body").css("background-color","#"+data.color);
      });
    script
      $(function() {
        //$( "#submit_button").button();
        $( "#submit_button" ).click(function(event) { setWindowColor(); });
      });