h2 Register
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form(action='/register', method='POST')
  ol
    li#login
      label(for='username') Login
      input(type='text', name='username')
    li#password
      label(for='password') Password
      input(type='password', name='password')
    li#email
      label(for='email') Email
      input(type='text', name='email')
    li#first
      label(for='first') First Name
      input(type='text', name='first')
    li#last
      label(for='last') Last Name
      input(type='text', name='last')
    li#dob
      label(for='dob') Birthday
      input(type='date', name='dob', id='datepicker')
  #submit
    input(type='submit',class="ui-button ui-widget ui-state-default ui-corner-all" ) Register
  script
    $(function() {
        $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        });
    });

