// Import bootstrap
@import "/public/css/bootstrap/lib/bootstrap.less";
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.right{
  float: right;
}
.nav.nav2, ul.nav2 {
  float: right;
}


