// Import bootstrap

@import "/public/css/bootstrap/lib/bootstrap.less";
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.right{
  float: right;
}

.nav.nav2, ul.nav2 {
  float: right;
}

#footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;

  a{
    color: white;
  }

}

