// Import bootstrap

@import "/public/css/bootstrap/lib/bootstrap.less";
html{
  height:100%
}
body {
  //padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  //color: #00B7FF;
  text-decoration: none;
}

.right{
  float: right;
}



#footer {
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;

  a{
    color: #404040;
  }

}

#set_fav_color{
  margin-left: 38px;
}
.about, .color_picker, .home, .login, .register, .user, .users{
  margin-top: 50px;
  margin-bottom: 50px;
}

#colorpickerPreview{
  width: 356px;
 height: 176px;
 margin-left: 38px;
 float: left;
 border-style: solid;
 border-width: 1px;
 border-color: black;
 //background-color: white;
}
#colorpickerHolder{
  width: 356px;
  height: 176px;
  float: left;
}
#colorpickerContainer{
  //position: relative;
  width: auto;
  height: auto;
}
#btnContainer{
  //position: relative;
  clear: both;
  margin-top: 10px;
}
#divbar{
  position:relative;
  background-color: #222;
}


#containerBarPreview{
  width:354px;
}
#containerBodyPreview{
  width:320px;
  margin: 0 auto;
}
ul{
  list-style-type:none;
}
.ah3list{
  text-decoration: none;
}
