
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main {
  width: 510px;
  margin: 0 auto;
}

ul, ol {
  list-style: none outside;
}
label {
  width:100px;  
  float:left;
}

#color_box {
  height:200px;
  border: solid 1px black;
}

.flash {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1001;
  width: 100%;
  opacity: 0.75;
}
